<header class="theme-main-menu sticky-menu theme-menu-two">
    <div class="inner-content position-relative">
        <div class="d-flex align-items-center justify-content-between">
            <div class="logo order-lg-0"><a href="index.html" class="d-block"><img src="images/logo/logo_01.png" alt="" width="95"></a></div>

            <div class="right-widget d-flex align-items-center ms-auto ms-lg-0 order-lg-3">
                <a href="/contact" class="contact-btn-two fs-17 fw-500 tran3s d-none d-lg-block">Contact us</a>
            </div> <!-- /.right-widget -->

            <nav class="navbar navbar-expand-lg order-lg-2">
                <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                 </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="d-block d-lg-none"><div class="logo"><a href="index.html" class="d-block"><img src="images/logo/logo_01.png" alt="" width="95"></a></div></li>
                        <li class="nav-item active"><a class="nav-link" href="/" role="button" data-bs-auto-close="outside" aria-expanded="false">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/services" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="/services/web-design" class="dropdown-item"><span>Web Design</span></a></li>
                                <li><a href="/services/web-development" class="dropdown-item"><span>Web Development</span></a></li>
                                <li><a href="/services/erp-development" class="dropdown-item"><span>ERP Development</span></a></li>
                                <li><a href="/services/mobile-development" class="dropdown-item"><span>Mobile Development</span></a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/why-us" role="button" data-bs-auto-close="outside" aria-expanded="false">Why Us</a></li>
                        <li class="nav-item "><a class="nav-link" href="/about" role="button" data-bs-auto-close="outside" aria-expanded="false">About</a></li>
                    </ul>
                    <!-- Mobile Content -->
                    <div class="mobile-content d-block d-lg-none">
                        <div class="d-flex flex-column align-items-center justify-content-center mt-70">
                            <a href="/contact" class="contact-btn-two fs-17 fw-500 tran3s">Contact us</a>
                        </div>
                    </div> <!-- /.mobile-content -->
                </div>
            </nav>
        </div>
    </div> <!-- /.inner-content -->
</header> <!-- /.theme-main-menu -->