<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<div class="main-page-wrapper">
			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="preloader">
				<div id="ctn-preloader" class="ctn-preloader">
					<div class="animation-preloader">
						<div class="icon"><img src="images/logo/logo_01.svg" alt="" class="m-auto d-block" width="40"></div>
						<div class="txt-loading mt-3">
							<span data-text-preloader="J" class="letters-loading">
								J
							</span>
							<span data-text-preloader="A" class="letters-loading">
								A
							</span>
							<span data-text-preloader="N" class="letters-loading">
								N
							</span>
							<span data-text-preloader="O" class="letters-loading">
								O
							</span>
						</div>
					</div>	
				</div>
			</div>



			<!-- 
			=============================================
				Theme Main Menu
			============================================== 
			-->

			{% include header.html %}

      {{ content }}

			<!--
			=====================================================
				Footer
			=====================================================
			-->
			{% include footer.html %}


			<button class="scroll-top">
				<i class="bi bi-arrow-up-short"></i>
			</button>
			
			


		<!-- Optional JavaScript _____________________________  -->

    <!-- jQuery first, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="{{ "/vendor/jquery.min.js" | prepend: site.baseurl }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ "/vendor/bootstrap/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>
    <!-- WOW js -->
    <script src="{{ "/vendor/wow/wow.min.js" | prepend: site.baseurl }}"></script>
    <!-- Slick Slider -->
    <script src="{{ "/vendor/slick/slick.min.js" | prepend: site.baseurl }}"></script>
    <!-- Fancybox -->
    <script src="{{ "/vendor/fancybox/dist/jquery.fancybox.min.js" | prepend: site.baseurl }}"></script>
    <!-- Lazy -->
    <script src="{{ "/vendor/jquery.lazy.min.js" | prepend: site.baseurl }}"></script>
    <!-- js Counter -->
    <script src="{{ "/vendor/jquery.counterup.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/vendor/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>

    <!-- Theme js -->
    <script src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>